.play-button {
    transition: all 0.3s;
    opacity: 0.8;
    z-index: 10;
}

    .play-button:hover {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.2);
    }

.btn-outline-info, .btn-outline-warning, .btn-outline-danger {
    border-width: 1px;
    transition: all 0.2s;
}

    .btn-outline-info:hover, .btn-outline-warning:hover, .btn-outline-danger:hover {
        transform: translateY(-2px);
    }

.form-control:focus {
    border-color: #1DA1F2;
    box-shadow: 0 0 0 0.2rem rgba(29, 161, 242, 0.25);
}

tbody tr {
    transition: all 0.2s;
}

    tbody tr:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
